<header class="bg-blue-900 text-white py-2 px-8">
  <div class="max-w-6xl mx-auto">
    <h1 class="text-2xl font-bold">{{ site.site_title }}</h1>
    <p class="mt-1 text-sm opacity-90">{{ site.site_subtitle }}</p>
    {% include 'wiki/search.mustache' %}
  </div>
</header>